.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-content: flex-start;
  padding: 10px;
}

.card {
  background-color: lightgreen;
  padding: 15px;
  min-width: 200px;
  max-height: 200px;
  font-size: 1rem;
}
