table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
}

tfoot {
  font-weight: bold;
}
