table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 2px solid white;
}

caption {
  font-weight: bold;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
}

tfoot {
  font-weight: bold;
}

tfoot td {
  font-weight: bold;
  font-style: italic;
}

thead th {
  background-color: black;
  text-align: right;
  font-weight: bold;
}

tbody td {
  background-color: grey;
}
